{:credentials {:host     "some-host.snowflakecomputing.com"
               :db       "SOME_DB"
               :user     "SOME_USER"
               :role     "SOME_ROLE"
               :password "SOME_PASSWORD"}

 :tables      {:addresses "ADDRESSES"}}